
@use "globals" as g; 

.animation {
	background-color: g.$bg-color;
	height: 240px;
	width: 320px;
	margin: auto;

}

.sky {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: g.$sky-day-color;
	overflow: hidden;
	opacity: 100%;
	animation: skyColor 12s linear infinite;
}

@keyframes skyColor {
	0%,
	100% {
		background-color: g.$sky-night-color;
	}
	50% {
		background-color: g.$sky-day-color;
	}
}
.land {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 320px;
	filter: blur(2px);
	clip-path: ellipse(85% 100% at 50% 100%);
	background-color: g.$land-day-color;
	animation: landColor 12s linear infinite;
}

@keyframes landColor {
	0%,
	100% {
		background-color: g.$land-night-color;
	}
	50% {
		background-color: g.$land-day-color;
	}
}
.roof {
	position: absolute;
	bottom: 108px;
	left: 120px;
	height: 20px;
	width: 80px;
	filter: blur(1px);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	z-index: 3;
	background-color: g.$roof-color;
}
.house {
	position: absolute;
	bottom: 50px;
	left: 130px;
	height: 60px;
	width: 60px;
	z-index: 1;

	background-color: g.$house-day-color;
	animation: houseColor 12s linear infinite;
}
@keyframes houseColor {
	0%,
	100% {
		background-color: g.$house-night-color;
	}
	50% {
		background-color: g.$house-day-color;
	}
}

.window1 {
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 35px;
	left: 10px;
	filter: blur(1px);
	background-color: g.$window-off-color;
	animation: window1 12s linear infinite;
}
@keyframes window1 {
	0%,
	91%,
	95%,
	100% {
		background-color: g.$window-off-color;
	}
	92%,
	94% {
		background-color: g.$window-on-color;
	}
}

.window2 {
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 35px;
	left: 35px;
	filter: blur(1px);
	background-color: g.$window-off-color;
	animation: window2 12s linear infinite;
}

@keyframes window2 {
	0%,
	71% {
		background-color: g.$window-off-color;
	}
	72%,
	100% {
		background-color: g.$window-on-color;
	}
}

.window3 {
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 10px;
	left: 10px;
	filter: blur(1px);
	background-color: window-off-color;
	animation: window3 12s linear infinite;
}

@keyframes window3 {
	0%,
	69%,
	91%,
	100% {
		background-color: g.$window-off-color;
	}
	70%,
	90% {
		background-color: g.$window-on-color;
	}
}

.door {
	position: absolute;
	width: 15px;
	height: 25px;
	bottom: 0px;
	left: 35px;
	filter: blur(1px);
	background-color: g.$door-color;
	animation: doorOpen 12s linear infinite;
}

@keyframes doorOpen {
	0%,
	9%,
	11%,
	64%,
	66%,
	100% {
		background-color: g.$door-color;
	}
	10%,
	65% {
		background-color: g.$window-off-color;
	}
}

.bus {
	position: absolute;
	width: 45px;
	height: 50px;
	offset-path: path("M 400 215 A 250 40 0 0 0 -80 215");
	animation: moveBus 6s linear infinite;
}

.chassis {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 2px 2px 6px 6px;
	z-index: 3;
	background-color: g.$bus-color;
}
.window4 {
	position: absolute;
	width: 14px;
	height: 12px;
	left: 28px;
	top: 36px;
	filter: blur(1px);
	z-index: 4;
	border-radius: 30%;
	background-color: g.$window-off-color;
}

.wheel {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background-color: black;
	z-index: 4;
}

.wheel:nth-child(3) {
	left: 30px;
	top: 20px;
}

.wheel:nth-child(4) {
	left: 5px;
	top: 20px;
}

@keyframes moveBus {
	0%,
	15% {
		offset-distance: 0%;
	}
	25%,
	35% {
		offset-distance: 38%;
	}

	50%,
	100% {
		offset-distance: 100%;
	}
}

.sun {
	position: absolute;
	background-color: hsl(60, 94%, 66%);
	filter: blur(1px);
	height: 80px;
	width: 80px;
	border-radius: 50%;
	offset-path: path("M 400 110 A 200 50 0 0 0 -80 110");
	animation: moveSun 12s linear infinite;
}

@keyframes moveSun {
	0% {
		offset-distance: 0%;
	}
	75%,
	100% {
		offset-distance: 100%;
	}
}

.moon {
	position: absolute;
	background-color: azure;
	filter: blur(1px);
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveMoon 12s linear 6s infinite;
	offset-path: path("M 400 110 A 200 50 0 0 0 -80 110");
}

@keyframes moveMoon {
	0% {
		offset-distance: 0%;
	}
	75%,
	100% {
		offset-distance: 100%;
	}
}
