body {
	background-color: black;
	color: white;
	max-width: 720px;
	margin: auto;
	font-size: 18px;
	font-family: "Akatab", Calibri, "Trebuchet MS", sans-serif;
}

a {
	color: rgb(23, 189, 189);
}

h1 {
	text-align: center;
}

.content {
	margin: 10px;
}

code {
	font-size: 12px;
	
	
}

pre {
	max-width: 720px;
	overflow-x: auto;
	background-color: hsl(0, 0%, 50%,0.3);
	padding:10px;
}

